{%- set schema = root -%}
{%- set namespace = project_name | pascal -%}
{
    {%- if 'namespace' not in schema.keys() %}
        "namespace": "{{ namespace }}",
    {%- endif %}    
    {%- for attr, value in schema.items() %}
    "{{ attr }}": {{ value | tojson(3) }},
    {%- endfor %}
}