{%- set schema_name = class_name -%}
syntax="proto3";

option csharp_namespace = "{{ class_name | namespace  }}";

{{ root | proto | regex_replace('syntax[\\s]*=[\\s]*["\']proto3["\'];[\\s]*\n', '') }}