{%- import "cloudevents.jinja.include" as cloudEvents -%}
{%- set messagegroups = root.messagegroups %}
{%- set uses_cloudevents_message = (root | exists( "format", "cloudevents" )) %}

using CloudNative.CloudEvents;
using CloudNative.CloudEvents.SystemTextJson;
using Microsoft.Extensions.Logging;
 
{% for messagegroup_key, messagegroup in messagegroups.items() -%}
{%- set pascalGroupName = messagegroup.id | default(messagegroup_key) | pascal -%}
namespace {{ project_name | pascal }}
{
    {%- set class_name = ( pascalGroupName | strip_namespace )+"EventProducer" %}
     public partial class {{ class_name }}
     {
        
         {%- if uses_cloudevents_message %}
         private readonly ContentMode contentMode;
         private readonly CloudEventFormatter formatter;
         {%- endif %}
         private readonly HttpProducer endpoint;
 
         private {{ class_name }}(HttpProducer endpoint{%- if uses_cloudevents_message -%}, ContentMode contentMode, CloudEventFormatter formatter{%- endif -%})
         {
            {%- if uses_cloudevents_message %}
             this.contentMode = contentMode;
             this.formatter = formatter;
            {%- endif %}
             this.endpoint = endpoint;
         }

         {%- if root.endpoints -%} 
         {%- for endpoint_key in root.endpoints.keys() -%}
         {%- set endpoint = root.endpoints[endpoint_key] -%}
         {%- if endpoint.usage == "producer" -%}
           {%- set protocol = endpoint.config.protocol | lower -%}
           {%- set options = endpoint.config.options -%}
           {%- set endpoints = endpoint.config.endpoints %}
                
        public static {{ class_name }} CreateFor{{ endpoint_key | pascal | strip_namespace }}(ILogger logger, IEndpointCredential credential {% if uses_cloudevents_message %}, ContentMode contentMode, CloudEventFormatter formatter {% endif %}) 
        {       
            {%- if options %}
            var options = new Dictionary<string, string> {
            {%- for key, value in options.items()%}
                { "{{ key }}" , "{{ value }}" }
                {%- if not loop.last -%},{%- endif %}
            {%- endfor %}
            };
            {%- endif %}
            var endpoints = new List<Uri> {
            {%- for epo in endpoints %}
                new Uri("{{ epo.uri }}")
                {%- if not loop.last -%},{%- endif %}
            {%- endfor %}
            };
            return new {{ class_name }}(HttpProducer.Create(logger, credential, {{ protocol | pascal }}Protocol.Name, {% if options %}options, {% else %}null, {% endif %}endpoints){%- if uses_cloudevents_message %}, contentMode, formatter{%- endif %});
        }
        {%- endif -%}
        {%- endfor -%}
        {% else %}
        public static {{ class_name }} Create(ILogger logger, IEndpointCredential credential {% if uses_cloudevents_message %}, ContentMode contentMode, CloudEventFormatter formatter {% endif %}, Dictionary<string, string> options = null, List<Uri> endpoints = null) 
        {
            return new {{ class_name }}(new HttpProducer(logger, credential, options, endpoints), {% if uses_cloudevents_message %}contentMode, formatter{% endif %});
        }
        {%- endif %}

        {% for id in messagegroup.messages -%}
        {%- set definition = messagegroup.messages[id] -%}
        {%- set pascalDefinitionName = definition.id | pascal %}
        {%- set isCloudEvent = not definition.format or definition.format.lower().startswith("cloudevents") -%}
        public async Task Send{{ pascalDefinitionName | strip_namespace }}Async(
        {%- if definition.schemaurl or definition.schema -%}
        {{ (definition.schemaurl if definition.schemaurl else definition.schema) | schema_type(root, definition.schemaformat)  | pascal }} data
        {%- else -%}
        object data
        {%- endif %}    
        {%- if isCloudEvent -%}
        {{- cloudEvents.DeclareUriTemplateArguments(definition) -}}
        {%- endif -%}
        )
        {
            {% if isCloudEvent %}
            string? contentType = null;
            {{- cloudEvents.DeclareCloudNativeCloudEvent("cloudEvent", definition) | indent(12)}}
            cloudEvent.Data = {% if definition.schemaurl -%}
            {%- set schemaObj = schema_object(root, definition.schemaurl ) -%}
            {%- if schemaObj and "format" in schemaObj and not schemaObj.format.lower().startswith("json") -%}
            data.ToByteArray(out contentType)
            {%- else -%}
            data
            {%- endif -%}
            {%- else -%}data{%- endif %};
            cloudEvent.DataContentType = contentType;
            await endpoint.SendAsync(cloudEvent, contentMode, formatter);
            {% endif %}
        }
        {% endfor %}
    }
}
{% endfor -%}