package {{ project_name | lower }};

public class RegexPatterns
{
    public static final String Email = "^\\S+@\\S+$";
    public static final String Url = "^(http:\\/\\/www\\.|https:\\/\\/www\\.|http:\\/\\/|https:\\/\\/)?[a-z0-9]+([\\-\\.]{1}[a-z0-9]+)*\\.[a-z]{2,5}(:[0-9]{1,5})?(\\/.*)?$";
    public static final String Date = "^\\d{4}-\\d{2}-\\d{2}$";
    public static final String DateTime = "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}(\\.\\d+)?(([+-]\\d{2}:\\d{2})|Z)?$";
    public static final String Time = "^\\d{2}:\\d{2}:\\d{2}$";
}