{#- triggering generation of all schema-based elements with this loop #}
{%- for definitiongroup_key, definitiongroup in root.definitionGroups.items() -%}
   {%- for definitionid, definition in definitiongroup.definitions.items() %}
    {%- if definition.schemaUrl -%}
        {% set x=definition.schemaUrl | schema_type -%}
    {%-endif -%}
    {%- endfor -%}
{%- endfor %}
{
    "name": "{{ project_name }}",
    "startFile": "{{ project_name }}.asaql",
    "configurations": [
        {
            "filePath": "JobConfig.json",
            "subType": "JobConfig"
        }
    ]
}