{%- import "cloudevents.jinja.include" as cloudEvents -%}
{%- set messagegroups = root.messagegroups %}
{%- set uses_cloudevents_message = (root | exists("envelope","CloudEvents/1.0")) %}
{%- if not uses_cloudevents_message %}
{%- exit -%}
{%- endif -%}
import * as types from "./types" 
import { httpTransport, emitterFor, CloudEvent } from "cloudevents";
import { v4 as uuidv4 } from "uuid";

{% for messagegroupid, messagegroup in messagegroups.items() -%}
{%- set groupname = messagegroupid  | pascal -%}

export class {{ groupname | strip_dots }}EventProducer
{
    credential : any;
    endpoints : any;
    options : any;

    constructor(credential : any, endpoints : any, options : any) {
        this.credential = credential;
        this.endpoints = endpoints;
        this.options = options;
    } 
  
    {%- if root.endpoints -%} 
    {%- for endpointid, endpoint in root.endpoints.items() -%}
        {%- if endpoint.usage == "producer" and "http" == (endpoint.protocol | lower) -%}
      {%- set protocol = endpoint.protocol | lower -%}
      {%- set options = endpoint.protocoloptions -%}
      {%- set endpoints = endpoint.endpoints %}
           
   static createFor{{ endpointid | pascal | strip_dots }}(credential : any) 
   {       
       {%- if options %}
       var options = { 
       {%- for key, value in options.items()%}
           { "{{ key }}" , "{{ value }}" }
           {%- if not loop.last -%},{%- endif %}
       {%- endfor %}
       };
       {%- else -%}
       var options = {};
       {%- endif %}
       var endpoints = [
       {%- for epo in endpoints %}
           "{{ epo.uri }}"
           {%- if not loop.last -%},{%- endif %}
       {%- endfor %}
       ];
       return new {{ groupname | strip_dots }}EventProducer(credential, endpoints, options);
   }
   {%- endif -%}
   {%- endfor -%}
   {% endif %}

   {% for messageid, message in messagegroup.messages.items() -%}
   {%- set messagename = messageid | pascal %}
   {%- set isCloudEvent = not message.envelope or message.envelope.lower().startswith("cloudevents") -%}
   {%- set is_amqp = not isCloudEvent and message.envelope.lower().startswith("amqp") %}
   {%- set isMqtt = not isCloudEvent and message.envelope.lower().startswith("mqtt") %}
   async send{{ messagename | strip_namespace }}Async(
   {%- if message.dataschemauri or message.dataschema -%}
   {% set dataType = "types." + ((message.dataschemauri if message.dataschemauri else message.dataschema) | schema_type( project_name, root, message.dataschemaformat) | strip_namespace | pascal) %}
   {%- else -%}
   {% set dataType = "any" %}
   {%- endif %}    
   data : {{ dataType }}
   {{- cloudEvents.DeclareUriTemplateArguments(message) -}}
   )
   {
       {{ cloudEvents.DeclareCloudEvent("cloudEvent", message, dataType) | indent(9) }}
       await this._sendAsync(cloudEvent);
   }
   {% endfor %}

   async _sendAsync<T>(cloudEvent : CloudEvent<T>)
   {
       var transport = httpTransport(this.endpoints[0]);
       var emitter = emitterFor(transport);
       var result = await emitter(cloudEvent);
       return result;
   }
}

{% endfor -%}