{
    "IsEncrypted": false,
    "Values": {
        "AzureWebJobsStorage": "UseDevelopmentStorage=true",
        "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
        "ALLOWED_ORIGINS": "http://localhost:11000"
    },
    "Host": {
        "LocalHttpPort": 11000
    }
}
  