{%- set uses_protobuf = uses_protobuf | default(false) -%}
{%- set uses_avro = uses_avro | default(false) -%}
{%- set uses_cloudevents_message = (root | exists( "format", "cloudevents" )) %}
{%- set uses_amqp_message = (root | exists( "binding", "amqp" )) %}
{%- set uses_amqp_endpoint = (root | exists("protocol", "amqp" )) %}
{%- set uses_mqtt_message = (root | exists( "binding", "mqtt" )) %}
{%- set uses_mqtt_endpoint = (root | exists("protocol", "mqtt" )) %}
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 https://maven.apache.org/xsd/maven-4.0.0.xsd">
  <modelVersion>4.0.0</modelVersion>
  <groupId>{{ project_name | lower }}</groupId>
  <artifactId>consumer</artifactId>
  <version>1.0-SNAPSHOT</version>
  <properties>
    {%- if uses_avro %}
    <avro.version>1.11.3</avro.version>
    {%- endif %}
    {%- if uses_protobuf %}
    <protobuf.version>3.11.4</protobuf.version>
    {%- endif %}
    <log4j.version>2.23.1</log4j.version>
    <io.cloudevents.version>3.0.0</io.cloudevents.version>
    <io.cloudevents.experimental.version>0.1.1-SNAPSHOT</io.cloudevents.experimental.version>
  </properties>
  <dependencies>
     <dependency>
      <groupId>org.apache.logging.log4j</groupId>
      <artifactId>log4j-api</artifactId>
      <version>${log4j.version}</version>
      <scope>provided</scope>
    </dependency>
    <dependency>
      <groupId>org.apache.logging.log4j</groupId>
      <artifactId>log4j-core</artifactId>
      <version>${log4j.version}</version>
      <scope>provided</scope>
    </dependency>
     <dependency>
      <groupId>io.cloudevents</groupId>
      <artifactId>cloudevents-http-basic</artifactId>
      <version>${io.cloudevents.version}</version>
    </dependency>
    <dependency>
      <groupId>io.cloudevents</groupId>
      <artifactId>cloudevents-api</artifactId>
      <version>${io.cloudevents.version}</version>
    </dependency>
    <dependency>
      <groupId>io.cloudevents.experimental</groupId>
      <artifactId>endpoints</artifactId>
      <version>${io.cloudevents.experimental.version}</version>
    </dependency>
    {%- if uses_amqp_endpoint %}
    <dependency>
      <groupId>io.cloudevents.experimental</groupId>
      <artifactId>endpoints-amqp</artifactId>
      <version>${io.cloudevents.experimental.version}</version>
    </dependency>
    {%- endif %}
    {%- if uses_mqtt_endpoint %}
    <dependency>
      <groupId>io.cloudevents.experimental</groupId>
      <artifactId>endpoints-mqtt</artifactId>
      <version>${io.cloudevents.experimental.version}</version>
    </dependency>
    {%- endif %}
    {%- if uses_protobuf %}
    <dependency>
      <groupId>io.cloudevents</groupId>
      <artifactId>cloudevents-protobuf</artifactId>
      <version>${io.cloudevents.version}</version>
    </dependency>
    <dependency>
      <groupId>com.google.protobuf</groupId>
      <artifactId>protobuf-java</artifactId>
      <version>${protobuf.version}</version>
    </dependency>
    {%- endif %}
    {%- if uses_avro %}
    <!-- :-( No Avro support in the CloudEvents SDK yet      
     <dependency>
      <groupId>io.cloudevents</groupId>
      <artifactId>cloudevents-avro</artifactId>
      <version>${io.cloudevents.version}</version>
     </dependency> -->
     <dependency>
      <groupId>org.apache.avro</groupId>
      <artifactId>avro</artifactId>
      <version>${avro.version}</version>
    </dependency>
    <dependency>
      <groupId>org.apache.avro</groupId>
      <artifactId>avro-maven-plugin</artifactId>
      <version>${avro.version}</version>
    </dependency>
    <dependency>
      <groupId>org.apache.avro</groupId>
      <artifactId>avro-compiler</artifactId>
      <version>${avro.version}</version>
    </dependency>
    <dependency>
      <groupId>org.apache.avro</groupId>
      <artifactId>avro-ipc</artifactId>
      <version>${avro.version}</version>
    </dependency>
    {%- endif %}
  </dependencies>

  <build>
      <defaultGoal>clean package install</defaultGoal>
      <sourceDirectory>main</sourceDirectory>
      <plugins>
         {%- if uses_protobuf %}
         <plugin>
            <groupId>com.github.os72</groupId>
            <artifactId>protoc-jar-maven-plugin</artifactId>
            <version>${protobuf.version}</version>
            <executions>
                <execution>
                    <phase>generate-sources</phase>
                    <goals>
                        <goal>run</goal>
                    </goals>
                    <configuration>
                        <protocVersion>${protobuf.version}</protocVersion>
                        <inputDirectories>
                            <include>main/protobuf</include>
                        </inputDirectories>
                        <outputTargets>
                          <outputTarget>
                            <type>java</type>
                            <addSources>main</addSources>
                          </outputTarget>
                          <outputTarget>
                            <type>descriptor</type>
                            <addSources>none</addSources>
                            <outputDirectory>${project.build.directory}/classes</outputDirectory>
                          </outputTarget>
                        </outputTargets>
                    </configuration>
                </execution>
            </executions>
        </plugin>
        {%- endif %}
        {%- if uses_avro %}
        <plugin>
          <groupId>org.apache.avro</groupId>
          <artifactId>avro-maven-plugin</artifactId>
          <version>${avro.version}</version>
          <executions>
            <execution>
              <phase>generate-sources</phase>
              <goals>
                <goal>schema</goal>
              </goals>
              <configuration>
                <sourceDirectory>main/avro</sourceDirectory>
                <outputDirectory>target/generated-sources/avro</outputDirectory>
              </configuration>
            </execution>
          </executions>
        </plugin>
        {%- endif %}
         <plugin>
            <groupId>org.apache.maven.plugins</groupId>
            <artifactId>maven-resources-plugin</artifactId>
            <version>3.3.1</version>
            <configuration>
               <encoding>UTF-8</encoding>
            </configuration>
          </plugin>
         <plugin>
            <groupId>org.apache.maven.plugins</groupId>
            <artifactId>maven-compiler-plugin</artifactId>
            <version>3.13.0</version>
            <configuration>
               <release>21</release>
              <encoding>UTF-8</encoding>             
            </configuration>
          </plugin>
      </plugins>
   </build>
</project>