{%- import "util.include.jinja" as util -%}

# pylint: disable=unused-import, line-too-long, missing-module-docstring, missing-function-docstring, missing-class-docstring, consider-using-f-string, trailing-whitespace, trailing-newlines
import sys
import json
import uuid
import typing
from datetime import datetime
from confluent_kafka import Producer, KafkaException, Message
from cloudevents.kafka import to_binary, to_structured, KafkaMessage
from cloudevents.http import CloudEvent

{%- set messagegroups = root.messagegroups %}
{%- set imports = [] %}
{%- for messagegroup_key, messagegroup in messagegroups.items() -%}
{%- for id, message in messagegroup.messages.items() -%}
{%- set type_name = util.DeclareDataType( data_project_name, root, message ) %}
{%- if type_name != "object" %}
{%- set import_statement = "from " + (type_name | lower) + " import " + type_name | strip_namespace | pascal %}
{%- if import_statement not in imports %}
{%- set _ = imports.append(import_statement) %}
{{ import_statement }}
{%- endif %}
{%- endif %}
{%- endfor %}
{%- endfor %}

{%- for messagegroup_key, messagegroup in messagegroups.items() -%}
{%- set parts = messagegroup.id.split('.') -%}
{%- set groupName = parts | join('_') | lower %}
{%- set pascalGroupName = messagegroup.id | pascal %}
{%- set class_name = ( pascalGroupName | strip_dots ) + "EventProducer" %}

class {{ class_name }}:
    def __init__(self, producer: Producer, topic: str, content_mode:typing.Literal['structured','binary']='structured'):
        """
        Initializes the Kafka producer

        Args:
            producer (Producer): The Kafka producer client
            topic (str): The Kafka topic to send events to
            content_mode (typing.Literal['structured','binary']): The content mode to use for sending events
        """
        self.producer = producer
        self.topic = topic
        self.content_mode = content_mode

    def __key_mapper(self, x: CloudEvent) -> str:
        """
        Maps a CloudEvent to a Kafka key

        Args:
            x (CloudEvent): The CloudEvent to map
        """
        return f'{str(x.get("type"))}:{str(x.get("source"))}{("-"+str(x.get("subject"))) if x.get("subject") else ""}'
    {%- for id, message in messagegroup.messages.items() -%}
    {%- set message_snake = id | dotunderscore | snake %}
    {%- set data_type = util.DeclareDataType( data_project_name, root, message ) %}

    async def send_{{message_snake}}(self,
        {%- for attrname, attribute in message.metadata.items() if attribute.required and attribute.value is not defined -%}
        _{{ attrname }}: str, {{ '' }}
        {%- endfor -%}
        {%- for attrname, attribute in message.metadata.items() if attribute.type == "uritemplate" -%}
            {%- for placeholder in attribute.value | regex_search('\\{([A-Za-z0-9_]+)\\}') %}_{{ placeholder | snake }} : str, {% endfor -%}
        {%- endfor -%}
        data: {{ data_type | strip_namespace -}}, content_type: str = "application/json"
        {%- for attrname, attribute in message.metadata.items() if not attribute.required and attribute.value is not defined -%}
            , _{{ attrname }}: typing.Optional[str] = None
        {%- endfor -%}, flush_producer=True) -> None:
        """
        Sends the '{{ message.id }}' event to the Kafka topic

        Args:
        {%- for attrname, attribute in message.metadata.items() if attribute.required and attribute.value is not defined %}
            _{{ attrname }}(str) : {{ attribute.description if attribute.description else "CloudEvents attribute '"+attrname+"'" }}
        {%- endfor -%}
        {%- for attrname, attribute in message.metadata.items() if attribute.type == "uritemplate" %}
            {%- for placeholder in attribute.value | regex_search('\\{([A-Za-z0-9_]+)\\}') %}
            _{{ placeholder | snake }}(str):  Value for placeholder {{ placeholder }} in attribute {{ attrname }}
            {%- endfor -%}
        {%- endfor %}
            data: ({{ data_type | strip_namespace -}}): The event data to be sent
            content_type (str): The content type that the event data shall be sent with
        {%- for attrname, attribute in message.metadata.items() if not attribute.required and attribute.value is not defined %}
            _{{ attrname }}(typing.Optional[str]): {{ attribute.description if attribute.description else "CloudEvents attribute '"+attrname+"'" }}
        {%- endfor %}
            flush_producer(bool): Whether to flush the producer after sending the event (default: True)
        """
        attributes = {
        {%- for attrname, attribute in message.metadata.items() %}
             "{{ attrname }}":
            {%- if attribute.value -%}
            "{{ attribute.value }}"
            {%- if attribute.type == "uritemplate" -%}
                {%- set phs = attribute.value | regex_search('\\{([A-Za-z0-9_]+)\\}') %}
                {%- if phs -%}
                .format(
                {%- for placeholder in phs -%}
                    {{ placeholder }} = _{{ placeholder | snake }}
                {%- if not loop.last -%},{%- endif%}
                {%- endfor -%}
                )
                {%- endif %}
            {%- endif %}
            {%- else -%}
                _{{ attrname }}
            {%- endif-%}
            {%- if not loop.last -%},{%- endif %}
        {%- endfor %}
        }
        attributes["datacontenttype"] = content_type
        event = CloudEvent.create(attributes, data)
        if self.content_mode == "structured":
            message = to_structured(event, data_marshaller=lambda x: {% if data_type != "object"%}x.to_json(){%else%}json.dumps(x){%endif%}, key_mapper=self.__key_mapper)
            message.headers[b"content-type"] = b"application/cloudevents+json"
        else:
            content_type = "application/json"
            event["content-type"] = content_type
            message = to_binary(event, data_marshaller=lambda x: {% if data_type != "object"%}x.to_byte_array(content_type){%else%}json.dumps(x){%endif%}, key_mapper=self.__key_mapper)
        self.producer.produce(self.topic, key=message.key, value=message.value, headers=message.headers)
        if flush_producer:
            self.producer.flush()
{% endfor %}
{% endfor %}
