package {{ project_name | lower }};

public class ExceptionMessages
{
    public static final String ValueIsTooLow = "%s value is too low. (min: %d)"; 
    public static final String ValueIsTooHigh = "%s value is too high. (max: %d)";
    public static final String ValueIsTooLong = "%s value is too long. (max length: %d)";
    public static final String ValueIsTooShort = "%s value is too short. (min length: %d)";
    public static final String ValueIsTooBig = "%s value is too big. (max: %d)";
    public static final String ValueIsTooSmall = "%s value is too small. (min: %d)";
    public static final String ValueIsInvalid = "%s value is invalid.";
    public static final String ValueIsRequired = "%s value is required.";
    public static final String ValueIsNotUnique = "%s value is not unique.";
    public static final String ValueIsNotAnEmail = "%s value is not an email.";
    public static final String ValueIsNotAnUrl = "%s value is not an URL.";
    public static final String ValueIsNotADate = "%s value is not a date.";
    public static final String ValueIsNotADateTime = "%s value is not a date time.";
    public static final String ValueIsNotATime = "%s value is not a time.";
}