<Project Sdk="Microsoft.NET.Sdk">
  <PropertyGroup>
    <TargetFramework>net8.0</TargetFramework>
    <ProjectName>{{project_name | pascal }}</ProjectName>
    <ImplicitUsings>enable</ImplicitUsings>
    <Nullable>enable</Nullable>
  </PropertyGroup>
  <ItemGroup>
    <ProjectReference Include="..\..\{{project_name}}_data\src\{{project_name}}.csproj" />
  </ItemGroup>
  <ItemGroup>
    {{- dependency( 'cs','net80', 'CloudNative.CloudEvents') }}
    {{- dependency( 'cs','net80', 'CloudNative.CloudEvents.SystemTextJson') }}
    {{- dependency( 'cs','net80', 'Microsoft.Extensions.Logging') }}
    {{- dependency( 'cs','net80', 'Microsoft.Extensions.Logging.Console') }}
    {{- dependency( 'cs','net80', 'Microsoft.Extensions.Logging.Debug') }}
    {{- dependency( 'cs','net80', 'Azure.Messaging.ServiceBus') }}
    {{- dependency( 'cs','net80', 'System.Memory.Data') }}
  </ItemGroup>
</Project>