{%- set messagegroups = root.messagegroups -%}
{%- set function_name = project_name | pascal -%}
{%- import "cloudevents.jinja.include" as cloudEvents -%}
{%- import "eventhubs.jinja.include" as eventhubs -%}

using Azure.Messaging.EventHubs;
using System;
using System.Threading.Tasks;
using Microsoft.Extensions.Logging;

{{ eventhubs.CloudEventsUsings() }}

namespace {{ project_name | pascal }}
{
    {%- set class_name = (project_name | pascal | strip_namespace)+"Base" %}
    public class {{ class_name }}
    {
        {{ cloudEvents.DeclareDispatchObjectsFields( messagegroups ) | indent(8) }}
        {{ cloudEvents.DeclareDispatchObjectsConstructor( project_name, class_name, messagegroups, "", "") | indent(8) }}
        {{ eventhubs.CloudEventsMethods() | indent(8) }}

        public virtual async Task Run(EventData [] events, ILogger log)
        {
            foreach(var ev in events)
            {
                var cloudEvent = CloudEventFromEventData(ev);
                {{ cloudEvents.DispatchToDispatchObjects( "cloudEvent", messagegroups, "log" ) | indent(16) }}
            }
        }
    }
}