{#- This is a template that can convert 
   a CloudEvents Discovery document 
   into an OpenAPI 3.0 document -#}
openapi: 3.0.0
info:
  title: "{{ title }}"
  version: "1.0"
{%- if root.endpoints %} 
servers:
{%- for endpoint_key in root.endpoints.keys() -%}
{%- set endpoint = root.endpoints[endpoint_key] -%}
{%- set protocol = endpoint.config.protocol | lower -%}
{%- if endpoint.usage == "producer" and protocol == "http" -%}
{%- set options = endpoint.config.options -%}
{%- set endpoints = endpoint.config.endpoints -%}
{%- for endpointUrl in endpoints %}
- url: {{ endpointUrl }}
{%- if endpoint.description %}
  description: {{ endpoint.description }}
{%- endif -%}
{%- endfor -%}  
{%- endif -%}
{%- endfor -%}
{%- endif %}
paths:
  /:
    post:
      operationId: "cloudEventsWebhook"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                {%- for definitiongroup_key, definitiongroup in root.definitionGroups.items() -%}
                    {%- for eventkey, event in definitiongroup.definitions.items() %}
                  - $ref: "#/components/schemas/{{ event.id }}"
                    {%- endfor -%}
                {%- endfor %}
      responses:
        "202":
          description: "Accepted"
        "400":
          description: "Bad Request"
        "415":
          description: "Unsupported Media Type"
components:
  schemas:
  {%- for definitiongroup_key, definitiongroup in root.definitionGroups.items() -%}
    {%- for eventkey, event in definitiongroup.definitions.items() %}
    {{ event.id }}:
      type: "object"
      properties:
        {%- for attributeKey, attribute in event.metadata.attributes.items() %}
        "{{ attributeKey }}":
          {%- if attribute.type == "datetime" or attribute.type == "timestamp" %}
          type: "string"
          format: "date-time"
          {%- elif attribute.type == "uri" %}
          type: "string"
          format: "uri"
          {%- elif attribute.type == "uri-reference" %}
          type: "string"
          format: "uri-reference"
          {%- elif attribute.type == "uri-template" %}
          type: "string"
          format: "uri-reference"
          {%- elif attribute.type == "binary" %}
          type: "string"
          format: "binary"
          {%- elif attribute.type == "boolean" %}
          type: "boolean"
          {%- elif attribute.type == "integer" %}
          type: "integer"
          {%- elif attribute.type == "number" %}
          type: "number"
          {%- else %}
          type: "string"
          {%- endif %}
          {%- if attribute.value %}
          default: "{{ attribute.value }}"
          {%- endif %}
        {%- endfor %}
        data:
        {%- if event.schemaUrl %}
            {%- if event.schemaUrl.startswith('#') %}
            $ref: "#/components/schemas/{{ event.schemaUrl[1:].split('/')[-3] | pascal }}.{{ event.schemaUrl[1:].split('/')[-1] | pascal }}"
            {%- else %}
            $ref: "{{ event.schemaUrl }}"
            {%- endif %}
        {%- else %}
            type: "object"
        {%- endif %}
      required:
        {%- for attributeKey, attribute in event.metadata.attributes.items() %}
        {%- if attribute.required %}
        - "{{ attributeKey }}"
        {%- endif %}
        {%- endfor %}
    {%- endfor -%}
  {%- endfor -%}
  {%- if root.schemaGroups is defined -%}
    {%- for schemagroupkey in root.schemaGroups.keys() -%}
      {%- set schemagroup = root.schemaGroups[schemagroupkey] -%}
       {%- for schemakey, schema in schemagroup.schemas.items() -%}
          {%- set ns = namespace(newest_schemaversion=null) -%}
          {%- for schemaversionid, schemaversion in schema.versions.items() -%}
             {%- if newest_schemaversion is not defined or schemaversionid > newest_schemaversion -%}
                {%- set ns.newest_schemaversion = schemaversion -%}
             {%- endif -%}
          {%- endfor -%}
          {%- if ns.newest_schemaversion is defined %} 
    {{ schemagroupkey | pascal }}.{{ schemakey | pascal }}:
            {%- if ns.newest_schemaversion.schemaUrl -%}
            {%- if ns.newest_schemaversion.schemaUrl.startswith('#') %}
            $ref: "#/components/schemas/{{ ns.newest_schemaversion.schemaUrl.split('#/schemaGroups/')[1] }}"
            {%- else %}
            $ref: "{{ ns.newest_schemaversion.schemaUrl }}"
            {%- endif -%}
            {%- else %} 
      {{ ns.newest_schemaversion.schema | toyaml(3) | indent(6) }}
            {%- endif %} 
            {%- endif -%}
       {%- endfor -%} 
  {%- endfor -%}
  {%- endif -%}