<Project Sdk="Microsoft.NET.Sdk">

  <PropertyGroup>
    <TargetFramework>net6.0</TargetFramework>
    <ImplicitUsings>enable</ImplicitUsings>
    <Nullable>disable</Nullable>
  </PropertyGroup>
 <ItemGroup>
    <PackageReference Include="CloudNative.CloudEvents" Version="2.5.1" />
    <PackageReference Include="CloudNative.CloudEvents.SystemTextJson" Version="2.5.1" />
    <PackageReference Include="CloudNative.CloudEvents.Amqp" Version="2.5.1" />
    <PackageReference Include="CloudNative.CloudEvents.Mqtt" Version="2.5.1" />
    <PackageReference Include="AMQPNetLite" Version="2.4.5" />
    <PackageReference Include="MQTTnet" Version="3.0.15.0" />
    <PackageReference Include="CloudNative.CloudEvents.Endpoints" Version="1.2.0" />    
  </ItemGroup>
</Project>