{%- import "cloudevents.jinja.include" as cloudEvents -%}
{%- import "amqp.jinja.include" as amqp -%}
{%- set messagegroups = root.messagegroups %}
{%- set uses_cloudevents_message = (root | exists( "format", "cloudevents" )) %}
{%- set uses_amqp_message = (root | exists( "binding", "amqp" )) %}
{%- set uses_amqp_endpoint = (root | exists( "protocol", "amqp" )) %}
using CloudNative.CloudEvents;
using CloudNative.CloudEvents.SystemTextJson;
using Azure.Messaging.EventHubs;

{% for messagegroup_key, messagegroup in messagegroups.items() -%}
{%- set pascalGroupName = messagegroup.id  | pascal -%}
namespace {{ pascalGroupName | namespace(project_name) | pascal }}
{
    {%- set class_name = ( pascalGroupName | strip_namespace )+"EventFactory" %}
    public partial class {{ class_name }}
    {
        private const string cePrefix = "cloudEvents_";
        private const string applicationOctetStream = "application/octet-stream";
        private delegate byte[] Serialize<T>(T data, string contentType);
        private static CloudEventFormatter defaultFormatter = new JsonEventFormatter();

        {%- if root.endpoints -%} 
        {%- for endpoint_key in root.endpoints.keys() -%}
        {%- set endpoint = root.endpoints[endpoint_key] -%}
        {%- if endpoint.usage == "producer" -%}
        {%- set protocol = endpoint.config.protocol | lower -%}
        {%- if protocol == "amqp" -%}
        {%- set options = endpoint.config.options -%}
        {%- set endpoints = endpoint.config.endpoints %}
        {%- macro createforbody(class_name, endpoints, options) -%}
            if ( fullyQualifiedNamespace == null )
            {
                {%- if endpoints %}
                fullyQualifiedNamespace = "{{ endpoints[0].uri }}";
                {%- else %}
                throw new ArgumentNullException(nameof(fullyQualifiedNamespace));
                {%- endif %}
            }
            if ( eventHubName == null )
            {
                {%- if options and 'node' in options %}
                eventHubName = "{{ options['node'] }}";
                {%- else %}
                throw new ArgumentNullException(nameof(eventHubName));
                {%- endif %}
            }
            return new EventHubProducerClient(fullyQualifiedNamespace, eventHubName, credential);
        {%- endmacro %}
        
        public static EventHubProducerClient CreateFor{{ endpoint_key | pascal | strip_namespace }}(TokenCredential credential, string? fullyQualifiedNamespace = null, string? eventHubName = null) 
        {   
            {{ createforbody(class_name, endpoints, options) }}
        }

        public static EventHubProducerClient CreateFor{{ endpoint_key | pascal | strip_namespace }}(AzureNamedKeyCredential credential, string? fullyQualifiedNamespace = null, string? eventHubName = null) 
        {       
            {{ createforbody(class_name, endpoints, options) }}
        }

        public static EventHubProducerClient CreateFor{{ endpoint_key | pascal | strip_namespace }}(AzureSasCredential credential, string? fullyQualifiedNamespace = null, string? eventHubName = null) 
        {       
            {{ createforbody(class_name, endpoints, options) }}
        }
        {%- endif -%}
        {%- endif -%}
        {%- endfor -%}
        {% endif %}

        private static EventData CreateEventData<T>(CloudEvent? cloudEvent, T data, string contentType, Serialize<T>? bodySerializer = null, CloudEventFormatter? formatter = null) where T : notnull
        {
            if (formatter == null)
            {
                bool isRawBytes = typeof(T) == typeof(byte[]);
                if (bodySerializer == null && !isRawBytes)
                {
                    throw new ArgumentNullException(nameof(bodySerializer));
                }
                EventData eventData = new EventData(bodySerializer == null ? (byte[])(object)data : bodySerializer(data, contentType));
                eventData.ContentType = contentType;
                if (cloudEvent != null)
                {
                    foreach (var attr in cloudEvent.GetPopulatedAttributes())
                    {
                        eventData.Properties.Add(cePrefix + attr.Key.Name, attr.Value);
                    }
                }
                return eventData;
            }
            else
            {
                if (cloudEvent == null)
                {
                    throw new ArgumentNullException(nameof(cloudEvent));
                }
                cloudEvent.Data = data;
                var eventBody = formatter.EncodeStructuredModeMessage(cloudEvent, out var eventContentType);
                var eventData = new EventData(eventBody)
                {
                    ContentType = eventContentType.ToString()
                };
                return eventData;
            }
        }

        {% for id in messagegroup.messages -%}
        {%- set definition = messagegroup.messages[id] -%}
        {%- set pascalDefinitionName = definition.id | pascal %}
        {%- set isCloudEvent = not definition.format or definition.format.lower().startswith("cloudevents") -%}
        {%- set isAmqp = not isCloudEvent and definition.format.lower().startswith("amqp") %}
        {%- if definition.description %}
        /// <summary>
        /// {{ definition.description }}
        /// </summary>
        {%- endif %}
        public static EventData Create{{ pascalDefinitionName | strip_namespace }}Event(
        {%- if definition.schemaurl or definition.schema -%}
        {%- set type_name = 'global::' + ((definition.schemaurl if definition.schemaurl else definition.schema) | schema_type( project_name, root, definition.schemaformat) | pascal )  %}
        {%- if definition.schemaformat.lower().startswith("jsonschema") %}
        {%- set type_name = type_name | pascal %}
        {%- endif %}
        {%- else -%}
        {%- set type_name = "object" %}
        {%- endif -%}
        {{ type_name }} data
        {%- if isCloudEvent -%}
        {{- cloudEvents.DeclareUriTemplateArguments(definition) -}}
        {%- elif isAmqp -%}
        {{- amqp.DeclareUriTemplateArguments(definition) -}}
        {%- endif -%}
        , string contentType = System.Net.Mime.MediaTypeNames.Application.Json
        {%- if isCloudEvent %}, CloudEventFormatter? formatter = null{% endif %})
        {
            {% if type_name != "object" %}
            Serialize<{{ type_name }}> bodySerializer = ({{ type_name }} data, string contentType) => {
                return data.ToByteArray(contentType);
            };
            {%- if isCloudEvent %}
            {{ cloudEvents.DeclareCloudNativeCloudEvent("cloudEvent", definition) | indent(12) }}
            return CreateEventData(cloudEvent, data, contentType, bodySerializer, formatter);
            {%- elif isAmqp %}
            return CreateEventData(null, data, contentType, bodySerializer, null);
            {%- endif %}
            {% else %}
            {%- if isCloudEvent %}
            {{ cloudEvents.DeclareCloudNativeCloudEvent("cloudEvent", definition) | indent(12) }}
            return CreateEventData(cloudEvent, data, contentType, null, formatter);
            {%- elif isAmqp %}
            return CreateEventData(null, data, contentType, null, null);
            {%- endif %}
            {% endif %}
            
        }
        {% endfor %}
    }
}
{% endfor -%}