{%- set uses_protobuf = uses_protobuf | default(true) -%}
{%- set uses_avro = uses_avro | default(true) -%}
{%- set uses_amqp_message = (root | exists( "binding", "amqp" )) %}
{%- set uses_amqp_endpoint = (root | exists("protocol", "amqp" )) %}
{%- set uses_mqtt_message = (root | exists( "binding", "mqtt" )) %}
{%- set uses_mqtt_endpoint = (root | exists("protocol", "mqtt" )) %}

<Project Sdk="Microsoft.NET.Sdk">
  <PropertyGroup>
    <TargetFramework>net8.0</TargetFramework>
    <ProjectName>{{project_name | pascal }}</ProjectName>
    <ImplicitUsings>enable</ImplicitUsings>
    <Nullable>enable</Nullable>
  </PropertyGroup>
  {%- if uses_protobuf %}
  <ItemGroup>
    <Protobuf Include="**\*.proto" GrpcServices="None" />
  </ItemGroup>
  {%- endif %}
  {% if uses_avro %}
   <ItemGroup>
      <AvroSchemas Include="**\*.avsc" />
    </ItemGroup>
  {% endif %}
  <ItemGroup>
    {{- dependency( 'cs','net80', 'CloudNative.CloudEvents') }}
    {{- dependency( 'cs','net80', 'CloudNative.CloudEvents.SystemTextJson') }}
    {%- if uses_amqp_message or uses_amqp_endpoint %}
    {{- dependency( 'cs','net80', 'Azure.Messaging.EventGrid') }}
    {{- dependency( 'cs','net80', 'Microsoft.Azure.Messaging.EventGrid.CloudNativeCloudEvents') }}
    {%- endif %}
    {%- if uses_protobuf %}
    {{- dependency( 'cs','net80', 'Google.Protobuf') }}
    <PackageReference Include="Grpc.Tools" Version="2.50.0">
      <IncludeAssets>runtime; build; native; contentfiles; analyzers; buildtransitive</IncludeAssets>
      <PrivateAssets>all</PrivateAssets>
    </PackageReference>
    {%- endif %}
    <PackageReference Include="System.Memory.Data" Version="8.0.0"></PackageReference>
    {%- if uses_avro %}
    {{- dependency( 'cs','net80', 'Apache.Avro') }}
    {%- endif %}
  </ItemGroup>
  
</Project>