{%- import "cloudevents.jinja.include" as cloudEvents -%}
{%- import "amqp.jinja.include" as amqp -%}
{{ cloudEvents.DeclareDispatchInterfaces( project_name, root) }}
{{ amqp.DeclareDispatchInterfaces( project_name, root) }}