{%- for messagegroup_key, messagegroup in root.messagegroups.items() -%}
   {%- for eventkey, event in messagegroup.messages.items() %}
SELECT type, *
INTO [output{{event.id | strip_namespace | pascal }}] 
FROM [input]
WHERE type = '{{event.id}}'

    {% endfor -%}
{%- endfor %}