{%- for definitiongroup_key, definitiongroup in root.messagegroups.items() -%}
   {%- for eventkey, event in definitiongroup.definitions.items() %}
SELECT type, *
INTO [output{{event.id | strip_namespace | pascal }}] 
FROM [input]
WHERE type = '{{event.id}}'

    {% endfor -%}
{%- endfor %}