{%- set schema = root -%}
{%- set namespace = project_name | pascal -%}
{
    "namespace": "{{ namespace }}",
    {%- for attr, value in schema.items() %}
    {%- if attr != 'namespace' %}
    "{{ attr }}": {{ value | tojson(3) }},
    {%- endif %}
    {%- endfor %}
}