{%- macro DeclareDataType(project_name, root, message) -%}
{%- if message.schemaurl or message.schema -%}
{%- set dataType = ((message.schemaurl if message.schemaurl else message.schema) | schema_type( project_name, root, message.schemaformat) ) -%}
{%- set dataType = ( dataType | namespace | lower )+'.'+(dataType | strip_namespace | pascal) %}
{%- else -%}
{%- set dataType = "object" -%}
{%- endif -%}
{{ dataType }}
{%- endmacro -%}