{%- import "cloudevents.jinja.include" as cloudEvents -%}
{%- import "mqtt.jinja.include" as mqtt -%}
{{ cloudEvents.DeclareDispatchInterfaces( project_name, root) }}
{{ mqtt.DeclareDispatchInterfaces( project_name, root) }}
