{%- set uses_protobuf = uses_protobuf | default(true) -%}
{%- set uses_avro = uses_avro | default(true) -%}
{%- set uses_amqp_message = (root | exists( "binding", "amqp" )) %}
{%- set uses_amqp_endpoint = (root | exists("protocol", "amqp" )) %}
{%- set uses_mqtt_message = (root | exists( "binding", "mqtt" )) %}
{%- set uses_mqtt_endpoint = (root | exists("protocol", "mqtt" )) %}

<Project Sdk="Microsoft.NET.Sdk">
  <PropertyGroup>
    <TargetFramework>net8.0</TargetFramework>
    <ProjectName>{{project_name | pascal }}</ProjectName>
    <ImplicitUsings>enable</ImplicitUsings>
    <Nullable>enable</Nullable>
  </PropertyGroup>
  {%- if uses_protobuf %}
  <ItemGroup>
    <Protobuf Include="**\*.proto" GrpcServices="None" />
  </ItemGroup>
  {%- endif %}
  {% if uses_avro %}
   <ItemGroup>
      <AvroSchemas Include="**\*.avsc" />
    </ItemGroup>
  {% endif %}
  <ItemGroup>
    <PackageReference Include="CloudNative.CloudEvents" Version="2.5.1" />
    <PackageReference Include="CloudNative.CloudEvents.SystemTextJson" Version="2.5.1" />
    {%- if uses_amqp_message or uses_amqp_endpoint %}
    <PackageReference Include="Azure.Messaging.EventGrid" Version="4.23.0" />
    <PackageReference Include="Microsoft.Azure.Messaging.EventGrid.CloudNativeCloudEvents" Version="1.0.0" />
    {%- endif %}
    {%- if uses_protobuf %}
    <PackageReference Include="Google.Protobuf" Version="3.26.1" />
    <PackageReference Include="Grpc.Tools" Version="2.50.0">
      <IncludeAssets>runtime; build; native; contentfiles; analyzers; buildtransitive</IncludeAssets>
      <PrivateAssets>all</PrivateAssets>
    </PackageReference>
    {%- endif %}
    <PackageReference Include="System.Memory.Data" Version="8.0.0"></PackageReference>
    {%- if uses_avro %}
    <PackageReference Include="Apache.Avro" Version="1.11.2" />
    {%- endif %}
  </ItemGroup>
  {% if uses_avro %}
  <Target Name="GenerateAvroCode" BeforeTargets="PrepareForBuild">
     <CombinePath BasePath="$(ProjectDir)" Paths="generated">
      <Output TaskParameter="CombinedPaths" ItemName="GeneratedCodeDirectory" />
    </CombinePath>
    <RemoveDir Directories="@(GeneratedCodeDirectory)" />
    <MakeDir Directories="@(GeneratedCodeDirectory)" />
    <Exec Command="avrogen --namespace &quot;$(ProjectName):$(ProjectName)&quot; -s &quot;%(AvroSchemas.Identity)&quot; &quot;@(GeneratedCodeDirectory)&quot;">
      <Output TaskParameter="ExitCode" PropertyName="AvroGenExitCode"/>
    </Exec>
    <Error Condition="'$(AvroGenExitCode)' != '0'" Text="AvroGen invocation failed with exit code $(AvroGenExitCode). if the tool is not installed, install it with 'dotnet tool install --global Apache.Avro.Tools --version 1.11.1'" />
  </Target>
  {% endif %}
</Project>