[build-system]
build-backend = "flit_scm:buildapi"
requires = ["flit_core>=3.2", "flit_scm", "wheel"]

[project]
name = "{{project_name}}"
dynamic = ["version"]
authors = [
    { name = "Your Name", email = "your.email@example.com" }
]
description = "A Kafka event consumer using CloudEvents"
readme = "README.md"
requires-python = ">=3.8"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent"
]
dependencies = [
    "azure-eventhub>=5.11.7",
    "cloudevents>=1.5.0"
]

[project.optional-dependencies]
dev = [
    "pytest>=6.2",
    "flake8>=3.9.2",
    "pylint>=2.8.3",
    "mypy>=0.812"
]

[tool.setuptools_scm]
write_to = "{{project_name}}/_version.py"
