{#- triggering generation of all schema-based elements with this loop #}
{%- for messagegroup_key, messagegroup in root.messagegroups.items() -%}
   {%- for definitionid, definition in messagegroup.messages.items() %}
    {%- if definition.schemaurl or definition.schema -%}
        {% set x=(definition.schemaurl if definition.schemaurl else definition.schema) | schema_type( project_name, root, definition.schemaformat) -%}
    {%-endif -%}
    {%- endfor -%}
{%- endfor %}
{
    "name": "{{ project_name }}",
    "startFile": "{{ project_name }}.asaql",
    "configurations": [
        {
            "filePath": "JobConfig.json",
            "subType": "JobConfig"
        }
    ]
}